header {
  top: 0;
  position: sticky;
  height: 6em;
  background-color: grey;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  align-self: center;
}
