/* Home page now playing */

.media {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
}

.media-img {
  width: 10em;
}

.media-info {
  display: flex;
  justify-content: center;
  position: absolute;
  color: white;
  width: 100%;
  background-color: black;
}

#nowplaying {
    display: flex;
    overflow-x: scroll;
}
.nowimg {
    /* border-radius: 22px; */
    height: 50vh;
    width: 20vw;
    margin-right: 0.2pc;
}
#movieinfo {
    text-align: left;
    background-color: salmon;
}
#infodiv {
    position: relative;
}
#textdiv {
    background-color: yellow;
    position: absolute;
    opacity: 0.7;
    height: 50vh;
    width: 20vw;
    overflow-x: scroll;
  

}



#moviestemp {
    display: flex;
    text-align: right;
    background-color: blue;
    width: 49.4vw;
    border-radius: 22px;
}
.movieimg {
    border-radius: 22px;
    height: 50vh;
    width: 20vw;

}
#moviebody {
    background-color: red;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}
